[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "/Users/bchalios/.vim/bundle/colorschemes"]
	path = /Users/bchalios/.vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
